h2 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

h5 {
  text-align: center;
  color: var(--color-light);
}

.img-slide {
  margin: auto;
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.img-slide-2 {
  margin: auto;
  width: 55%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.badges-container {
  display: flex;
  gap: 12px;
}

.slide-description {
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.swiper-slide {
  margin-bottom: 20px;
}

.swiper-pagination {
  margin-bottom: 0;
}

.slide-container {
  padding: 50px;
}

/* ===== MEDIA QUERIES SMALL DEVICES ===== */
@media screen and (max-width: 768px) {
  .img-slide {
    width: 100%;
  }

  .img-slide-2 {
    width: 100%;
  }

  .slide-container {
    padding: 0;
  }

  .slide-description {
    font-size: 12px;
    padding: 0 50px;
    text-align: center;
  }

  .portfolio__item-cta {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .badges-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

}